<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="warning"/>
  <property name="fileExtensions" value="java, properties, xml"/>

  <module name="SuppressionFilter">
    <property name="file" value="${config_loc}/suppressions.xml"/>
  </module>

  <module name="RegexpSingleline">
    <property name="format" value="System\.out\.println"/>
    <property name="message" value="Avoid using System.out.println"/>
    <property name="severity" value="error"/>
  </module>

  <module name="LineLength">
    <property name="max" value="160"/>
  </module>

  <module name="TreeWalker">

    <!-- Naming Conventions -->
    <module name="ConstantName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>

    <!-- Imports -->
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>

    <!-- Code Structure -->
    <module name="Indentation"/>

    <module name="EmptyStatement"/>
    <module name="LeftCurly"/>
    <module name="RightCurly"/>

    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <module name="OneStatementPerLine"/>
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>

    <!-- Modern Java Rules -->
    <module name="AnnotationLocation"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyStatement"/>
    <module name="FallThrough"/>
    <module name="InterfaceIsType"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifierOrder"/>
    <module name="OneTopLevelClass"/>
    <module name="OuterTypeFilename"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="IllegalType">
      <property name="illegalClassNames" value="java.util.Optional"/>
      <property name="tokens" value="PARAMETER_DEF"/>
    </module>


    <!-- Java 17+ Modern Features -->
    <module name="LambdaParameterName"/>
    <module name="PatternVariableName"/>
    <module name="RecordComponentName"/>

    <!-- Documentation -->
    <module name="JavadocMethod"/>
    <module name="JavadocType"/>
    <module name="InvalidJavadocPosition"/>
    <module name="SingleLineJavadoc"/>

    <!--        &lt;!&ndash; Spring Boot Specific &ndash;&gt;-->
    <module name="AnonInnerLength"/>
    <module name="MethodLength">
      <property name="max" value="100"/>
    </module>
    <module name="ParameterNumber">
      <property name="max" value="7"/>
    </module>

    <!-- Lombok Integration -->
    <module name="HiddenField">
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>

    <!-- Coding -->
    <module name="CovariantEquals"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="ExplicitInitialization"/>
    <module name="FallThrough"/>
    <module name="FinalLocalVariable"/>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="InnerAssignment"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="UnnecessaryParentheses"/>
    <module name="VariableDeclarationUsageDistance"/>

    <module name="NestedForDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="3"/>
    </module>
    <module name="NestedTryDepth">
      <property name="max" value="2"/>
    </module>

  </module>
</module>
